## ------------------------------------------------------------------------------
## Regla y Acción para Sensor de Presencia / Movimiento (PIR)
## ------------------------------------------------------------------------------
actions {
  http {
    influx_pir {
      connector = influxdb
      enable = true
      parameters {
        method = post
        path = "/api/v2/write?org=${INFLUXDB_ORG}&bucket=${INFLUXDB_BUCKET}&precision=ms"
        headers {
          Authorization = "Token ${INFLUXDB_ADMIN_TOKEN}"
          Content-Type = "text/plain; charset=utf-8"
        }
        body = "pir_telemetry,device_type=${device_type},device_id=${device_id} motion=${motion},value=${value}i ${ts}"
      }
    }
  }
}

rule_engine {
  rules {
    rule_sensorhub_pir {
      sql = "SELECT nth(2, split(topic, '/')) as device_type, nth(3, split(topic, '/')) as device_id, clientid as client_id, payload.motion as motion, (CASE WHEN payload.motion = true THEN 1 ELSE 0 END) as value, coalesce(payload.ts, now_timestamp('millisecond')) as ts FROM \"sensorhub/pir/+/telemetry\""
      enable = true
      description = "Extracción de eventos de presencia (PIR) hacia InfluxDB"
      actions = [
        "http:influx_pir"
      ]
    }
  }
}

